.destinations-container {
  margin-top: 8.4vh;
}
.destinations-body {
  padding-top: 6vh;
  align-items: center;
}
.destination-image {
  height: 31vw;
  width: 31vw;
  object-fit: cover;
}
.destinations-content {
  margin-left: 11vw;
}
.places {
  width: 60%;
}
.place {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}
.place:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.destination-name {
  font-size: 6.25rem;
  padding: 0.7rem;
  font-weight: 400;
}
.destination-description {
  line-height: 2rem;
  font-size: calc(1rem + 2px);
  width: 80%;
}
.divider {
  width: 80%;
  border-bottom: 1px solid var(--white);
  opacity: 25%;
  margin: 25px 0;
}
.destination-distance,
.destination-travel-time {
  font-size: calc(1rem - 2px);
  letter-spacing: 2.36px;
}
.destination-information {
  width: 80%;
}
.destination-information p:last-child {
  font-size: calc(2rem - 4px);
  margin-top: 7px;
  font-family: be;
}
.titan.titan-active,
.europa.europa-active,
.mars.mars-active,
.moon.moon-active {
  border-color: var(--white);
}

@media screen and (max-width: 1150px) {
  .destinations-body {
    flex-direction: column;
  }
  .destinations-body {
    padding: 2% 0 0 0;
  }
  .destinations-content {
    padding-left: 0;
    width: 90%;
    text-align: center;
    margin-left: 0;
  }
  .places {
    margin: 0 auto;
  }
  .divider,
  .destination-description {
    width: unset;
  }
  .destination-information {
    margin: 0 auto;
    width: unset;
    min-width: 50%;
  }
  .destination-image {
    margin-bottom: 53px;
    width: 300px;
    height: 300px;
  }
  .destination-information > div {
    margin: 0 15px;
  }
}
@media screen and (max-width: 650px) {
  .destination-information {
    flex-direction: column;
  }
  .destination-information > div {
    margin-bottom: 30px;
  }
  .destination-image {
    width: 170px;
    height: 170px;
  }
  .divider {
    margin: 40px 0;
  }
  .destination-name {
    font-size: 4rem;
  }
}
